body {
  margin: 0;
  border-top: 12px solid #CA9C8B;

  /* Background */
  background-color: #FBF0EC;
  background-image: url("/assets/images/background.jpg");
  background-size: 100%;
  background-position: top 20px center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* Text */
  font-size: 1.2rem;
  font-family: masqualero, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@media screen and (min-width: 900px) {
  body {
    background-size: 900px;
  }
}


a {
  color: #ff4a80;
  text-decoration: none;
  border-bottom: 2px solid #efd0d5;
}

a:hover {
  color: #7e0000;
  border-color: #ef2a36;
}

h1 {
  font-size: 2.2em;
  font-weight: normal;
  color: #9B2026;
  margin: 0;
  margin-top: 1rem;
}

h2 {
  font-weight: 200;
  color: #CF4533;
  margin: 0;
}

p {
  line-height: 1.5em;
}

main {
  padding: 1rem;
  padding-bottom: 15rem;
  max-width: 1000px;
  margin: auto;
}

hr {
  border: none;
  clear: both;
  width: 100%;
  height: 10px;
}

hr:before {
  content: "";
  border: none;
  border-top: 3px solid #FFBAC5;
  display: inline-block;
  width: 50px;
  margin-bottom: 0.75rem;
}


/* Header START */

header {
  min-height: 110px;

  .logo {
    display: block;
    border-bottom: none;
    margin: 0.5rem 0.5rem;
    float: left;

    img {
      height: 6rem;
    }
  }

  .title {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: none;
    color: #9b2026;

  }

  nav {
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 1rem;

    a {
      margin: 0.8rem;
    }
  }

  .social-container {
    position: absolute;
    margin-top: 1.2rem;
    right: 10px;
  }

}

.social-link {
  border-bottom: none;
  margin-left: 2px;
  margin-right: 2px;

  &:hover {
    circle {
      stroke: #FF4A80;
    }

    path {
      fill: #7E0000;
    }
  }
}

@media screen and (max-width: 750px) {
  header {
    .logo {
      text-align: center;
      float: none;
    }

    nav {
      display: block;
      position: static;
      margin-top: 0;
    }

  }

  .social-container {
    text-align: center;
    width: 100%;
    position: static!important;
    display: block;
    margin: auto;
    margin-top: 1em;
    right: 0;

  }

  .social-link {
    margin: 0;

    svg {
      scale: 0.9;

    }
  }
}

/* Header END */


/* Gallery START */
.gallery-header {
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .gallery-header {
    text-align: center;
  }

  .gallery-item {
    background-color: #fff;
    padding: 8px;
    margin: 1rem;
    border: 2px solid #fff;
    flex: 1;
    min-width: 150px;
    max-width: 216px;
    box-shadow: 0px 6px 8px #0000001c;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &:hover {
      border-color: #ff95B5;
    }
  }
}

/* Gallery END */


/* Article START */
article {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap-reverse;
}

.back-link {
  // margin-left: 40px;
  font-size: 1.2em;
  font-style: italic;
}

// @media screen and (max-width: 750px) {
//   .back-link {
//     margin-left: 0;
//   }
// }

figure {
  flex: 2;
  max-width: 600px;
  flex-basis: 250px;
  background: #fff;
  display: block;
  margin: 1em 0 0 0;
  padding: 10px;
  box-shadow: 0px 5px 8px #0000001c;
  height: auto;
  height: max-content;
  width: 100%;

  align-self: start;

  img {
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
  }

  &.smaller {
    flex: 1;
    flex-basis: 250px;
  }
}

.content {
  flex-grow: 1;
  flex-basis: 250px;
  padding: 1rem;
}

/* Article END */


/* Form START */

form, .contactContainer {
  max-width: 400px;
  // font-family:  Helvetica, sans-serif;
  margin: auto;
  background: #fff;
  padding: 2rem 1em 1em 1em;
  border: 8px solid #f6f6f6;
  box-shadow: 0px 6px 8px #0000001c;


  label {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 1em;
    color: rgb(168, 104, 104);
    font-weight: 300;
  }

  input,
  textarea {
    display: block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 1em;
    width: 100%;
    padding: 6px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    // border: 2px solid #efd0d5;
    border: 1px solid #ccc;
    background: #fafafa;
    box-sizing: border-box;
    font-weight: 200;
  }

  input[type="submit"] {
    font-weight: 300;
    color: #f5648f;
    background: #fff8f6;
    border: 2px solid #e9cfc5;
    border-radius: 8px;
    margin-top: 1.5rem;

    &:hover {
      color: #9B2026;
      border-color: #f5648f;
      cursor: pointer;
    }
  }
  
}

/* Form END */