<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="description" content="Mark Tower – Artist">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="/assets/images/favicon/192.png">


    <!-- Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/zvd7ztb.css">
    
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <meta name="theme-color" content="#fbf0ec">
  </head>

  <body>

    {% include header.html %}

    <main role="main">
      {{content}}
    </main>

  </body>

</html>